name: CI tests

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

env:
  GO_VERSION: 1.25.3
  GOLANGCI_LINT_VERSION: v2.6.2

jobs:
  golangci:
    name: Golang CI lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: -v

  tests:
    name: Unit tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: go mod download
      - run: go test -mod=readonly ./... -count=1 -race -v
